target/*
.classpath
.idea/*
.idea
.project
.settings
.settings/*
*.class
classes/*
*.class
/target/
target
/out/
/out
./test
.externalToolBuilders
web/src/main/webapp/WEB-INF/jsp/node_modules/
web/src/main/webapp/test/
*.iml
*.log
web/*.log
/*.epoch



